@model EntityObjectListDto

<style>
    label{
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .head{
        font-size: 16px;
    }

    .formWindow {
        height: 400px;
        width: 400px;
        background-color: white;
        top: 20%; /* отступ сверху */
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: 2; /* поверх всех */
        display: none; /* сначала невидим */
        position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
        padding: 15px;
    }

    #shadow {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1; /* поверх всех  кроме окна*/
        background: #000;
        opacity: 0.5; /*прозрачность*/
        left: 0;
        top: 0;
    }
</style>

<div class="buttonsContainer">
    <div class="col-2 justify-content-center">
        <button id="createButton">Create</button>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var headItem in Model.Head)
        {
            <div class="col-1 justify-content-center">
                <label class="taskId head">@headItem</label>
            </div>
        }
    </div>

    @foreach(var entity in Model.Entities)
    {
        <div class="row">
            @foreach (var entityField in entity)
            {
            <div class="col-1 justify-content-center">
                @if (entityField.Type == typeof(List<EntityObject>))
                {
                    <div>
                        @foreach (var item in (dynamic)entityField.Value)
                        {
                            <a href="@item.Url">@item.Value</a>
                        }
                    </div>
                }
                else if (entityField.Url != null)
                {
                    <a href="@entityField.Url">@entityField.Value</a>
                }
                else
                {
                    <label>@entityField.Value</label>
                }
            </div>
            }
        </div>
    }
</div>

<div id="popupWin" class="formWindow">
    
</div>

<script src="~/js/studentlist.js"></script>