@model TeacherViewModel

<div class="info">
    <p class="full_name">@Model.FullName</p>
    <p class="mail">Аккаунт: @Model.Email</p>
    <p class="role">Преподаватель</p>
</div>

<div class="tabs">
    <div class="tabs__nav">
        <a class="tabs__link tabs__link_active" href="#_TeacherGroups">Группы</a>
        <a class="tabs__link" href="#_TeacherCourses">Курсы</a>
    </div>
    <div class="tabs__content" data-id=@Model.Id>
        <div class="tabs__pane tabs__pane_show" id="_TeacherGroups">
            <button id="createStudentsGroupButton">Создать</button>

            @foreach (var group in Model.StudentsGroups)
            {
                <div>
                    <a href=@group.DetailUrl>@group.Title</a>
                </div>
                <br />
            }
        </div>
        <div class="tabs__pane" id="_TeacherCourses">
            <button id="createCourseButton">Создать</button>

            @foreach (var course in Model.Courses)
            {
                <div>
                    <a href=@course.DetailUrl>@course.Title</a>
                </div>
                <br />
            }
        </div>
    </div>
</div>

<div id="popupWin" class="formWindow">

</div>

<script>
    var userId = @Model.Id;
</script>

<script src="~/js/teacher.lk.js"></script>